.formulario {
    display: flex;
    justify-content: center;
    /* width: 100%; */
    gap: 10px;
    padding: 15px;
    border: solid 2px gray;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 20px;
}

h2 {
    font-family: fantasy;
    font-size: 15px;
}
.cajita, .billetes, .monedas, .centimos {
    display: flex;
    justify-content: center;
    border: solid 1px rgb(67, 63, 63);
    padding: 2px;
    margin: 2px;
    gap: 10px;
    
}

.billetes, .monedas, .centimos {
    justify-content: start;
    padding: 10px;
}

label{
    margin-top: 12.45px;
    margin-bottom: 12.45px;
}

input {
    font-family: fantasy;
    height: 20px;
    margin-top: 12.45px;
    margin-bottom: 12.45px;
}

button {
    margin-top: 12.45px;
    height: 35px;
    font-family: fantasy;
    font-size: 15px;
    background-color: rgba(126, 118, 118, 0.851);
    padding: 5px;
}

.borrar {
    align-self: end;
} 